# Fitxers objecte
*.o
*.obj
*.lo
*.la
*.al
*.gch

# Fitxers binaris
*.exe
*.out
*.app
*.i

# Fitxers de depuració
*.dSYM/
*.dmp
*.stackdump
*.log

# Fitxers generats pel compilador
*.ilk
*.pdb
*.idb

# Fitxers temporals i backups
*~
*.swp
*.bak
*.tmp

# Fitxers de configuració de l'IDE (opcional, segons quin IDE utilitzis)
.vscode/
.idea/
*.code-workspace

# Carpeta de compilació (si tens una)
build/
bin/
Debug/
Release/
*.vsidx
*.db

# Arxius DLL
*.dll
MosaicMondrianSFML/.vs/MosaicMondrianSFML/v17/Browse.VC.opendb
